In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, date, time, timedelta
from pytaq import TaqDaily
import wrds
from sas7bdat import SAS7BDAT

In [3]:
db = wrds.Connection(wrds_username='mohammad_ebr')
taq = TaqDaily(method='PostgreSQL', db=db, track_retail=False)
date1 = datetime(2016,12,7)
date2 = datetime(2016,12,8)
start_time_quotes = time(hour=9, minute=0)
end_time_quotes = time(hour=16, minute=0)
start_time_trades = time(hour=9, minute=30)
end_time_trades = time(hour=16, minute=0)
symbols = ['IBM']

Loading library list...
Done

In [4]:
def comma(df, n=6):
    x = df.to_string(index=False, index_names=False).split('\n')
    vals = [','.join(ele.split()) for ele in x]
    for i in range(n):
        print(vals[i])

____
### `get_nbbo_table()` ---> NBBO2

In [5]:
nbbo_df1 = taq.get_nbbo_table(date1, symbols, output_flags=False)
nbbo_df1

,timestamp,symbol,best_bid,best_bidsizeshares,best_bidex,best_ask,best_asksizeshares,best_askex,qu_seqnum
0,2016-12-07 09:00:57.415649,IBM,159.70,100.0,P,160.25,300.0,T,428253
1,2016-12-07 09:00:57.902121,IBM,159.67,1300.0,P,160.25,300.0,T,428349
2,2016-12-07 09:00:57.902143,IBM,159.67,1100.0,P,160.25,300.0,T,428350
4,2016-12-07 09:00:57.905189,IBM,159.69,100.0,P,160.25,300.0,T,428353
5,2016-12-07 09:01:20.756511,IBM,159.70,100.0,P,160.25,300.0,T,429958
...,...,...,...,...,...,...,...,...,...
58513,2016-12-07 15:59:59.002178,IBM,164.66,1100.0,N,164.69,1100.0,T,27781488
58514,2016-12-07 15:59:59.002280,IBM,164.66,1000.0,N,164.69,1100.0,T,27781500
58515,2016-12-07 15:59:59.010501,IBM,164.66,100.0,P,164.69,3100.0,N,27782136
58516,2016-12-07 15:59:59.010619,IBM,164.66,100.0,P,164.69,3200.0,N,27782146
58517,2016-12-07 15:59:59.014719,IBM,164.65,2500.0,N,164.69,3200.0,N,27782465

In [4]:
nbbo_df2 = taq.get_nbbo_table(date2, symbols, output_flags=False)
nbbo_df2

,timestamp,symbol,best_bid,best_bidsizeshares,best_bidex,best_ask,best_asksizeshares,best_askex,qu_seqnum
0,2016-12-08 09:05:38.297692,IBM,164.08,300.0,T,164.50,400.0,P,763969
2,2016-12-08 09:05:38.358708,IBM,164.08,300.0,T,164.50,100.0,P,763975
3,2016-12-08 09:05:38.628704,IBM,164.08,300.0,T,164.50,400.0,P,763996
4,2016-12-08 09:05:38.636546,IBM,164.08,300.0,T,164.50,100.0,P,763997
5,2016-12-08 09:05:38.697139,IBM,164.08,300.0,T,164.50,400.0,P,764001
...,...,...,...,...,...,...,...,...,...
42575,2016-12-08 15:59:57.027448,IBM,165.30,800.0,N,165.33,100.0,N,27476908
42576,2016-12-08 15:59:57.202829,IBM,165.33,900.0,N,165.37,100.0,J,27478401
42577,2016-12-08 15:59:57.203302,IBM,165.33,900.0,N,165.36,200.0,X,27478406
42578,2016-12-08 15:59:57.403032,IBM,165.34,200.0,N,165.36,100.0,Y,27479340
42583,2016-12-08 15:59:57.719264,IBM,165.34,200.0,N,165.37,300.0,N,27481197

___
### `get_quote_table()` ---> QUOTEAB2

If `nbbo_only = False` then ---> QUOTEAB

This is not quote table, it's only that part of quote data that we need to add to nbbo to get off_nbbo

In [6]:
quote_df1 = taq.get_quote_table(date1, symbols, nbbo_only=True, output_flags=False)
quote_df1

,timestamp,symbol,best_bid,best_bidsizeshares,best_bidex,best_ask,best_asksizeshares,best_askex,qu_seqnum
0,2016-12-07 09:00:05.396923,IBM,159.69,300,P,160.20,100,P,426557
1,2016-12-07 09:00:05.396947,IBM,159.69,100,P,160.20,100,P,426558
4,2016-12-07 09:00:05.398795,IBM,159.71,100,P,160.20,100,P,426561
6,2016-12-07 09:00:10.397634,IBM,159.67,1300,P,160.20,100,P,426846
9,2016-12-07 09:00:10.399425,IBM,159.70,100,P,160.20,100,P,426849
...,...,...,...,...,...,...,...,...,...
313566,2016-12-07 15:59:59.124585,IBM,164.65,2400,N,164.69,3300,N,27786501
313593,2016-12-07 15:59:59.460903,IBM,164.65,2800,N,164.69,3300,N,27790342
313610,2016-12-07 15:59:59.723099,IBM,164.65,2800,N,164.69,4000,N,27792241
313618,2016-12-07 15:59:59.901947,IBM,164.65,2800,N,164.69,4400,N,27793785
313619,2016-12-07 15:59:59.980547,IBM,164.65,2800,N,164.69,6100,N,27794405

In [6]:
quote_df2 = taq.get_quote_table(date2, symbols, common_only=True, nbbo_only=True, output_flags=False)
quote_df2

,timestamp,symbol,best_bid,best_bidsizeshares,best_bidex,best_ask,best_asksizeshares,best_askex,qu_seqnum
132,2016-12-08 09:09:00.732141,IBM,164.29,400,P,164.49,100,P,794392
137,2016-12-08 09:10:22.459306,IBM,164.29,400,P,164.48,100,P,805923
141,2016-12-08 09:13:22.946878,IBM,164.29,200,P,164.48,100,P,827869
142,2016-12-08 09:13:22.946895,IBM,164.29,200,P,164.49,100,P,827870
144,2016-12-08 09:13:22.951782,IBM,164.29,200,P,164.50,100,P,827875
...,...,...,...,...,...,...,...,...,...
238493,2016-12-08 15:59:59.902386,IBM,165.36,23700,N,165.37,6200,N,27506738
238508,2016-12-08 15:59:59.909696,IBM,165.36,23600,N,165.37,6200,N,27506807
238519,2016-12-08 15:59:59.986919,IBM,165.36,23700,N,165.37,6200,N,27507371
238521,2016-12-08 15:59:59.989484,IBM,165.36,23700,N,165.37,6000,N,27507399
238524,2016-12-08 15:59:59.998086,IBM,165.36,23800,N,165.37,6000,N,27507496

___
### `get_trade_table()` ---> TRADE2
**`Correction in lines:`** 445, 447 these lines are for saspy function.

In [7]:
trade_df1 = taq.get_trade_table(date1, symbols, get_cond=False)
trade_df1

                       timestamp symbol ex  size   price  tr_seqnum
0     2016-12-07 09:30:00.006411    IBM  P     2  160.60       2040
1     2016-12-07 09:30:00.006448    IBM  P     2  160.60       2041
2     2016-12-07 09:30:00.019109    IBM  T    75  160.60       2050
3     2016-12-07 09:30:00.019129    IBM  T    37  160.60       2051
4     2016-12-07 09:30:00.081717    IBM  T   112  160.60       2084
...                          ...    ... ..   ...     ...        ...
37646 2016-12-07 15:59:59.023566    IBM  N    10  164.65    2060135
37647 2016-12-07 15:59:59.026754    IBM  N     5  164.65    2060148
37648 2016-12-07 15:59:59.043254    IBM  N     5  164.65    2060253
37649 2016-12-07 15:59:59.045599    IBM  N     5  164.65    2060261
37650 2016-12-07 15:59:59.411944    IBM  B    10  164.65    2060620

[37651 rows x 6 columns]

In [8]:
trade_df2 = taq.get_trade_table(date2, symbols, common_only=True, get_cond=False)
trade_df2

                       timestamp symbol ex  size   price  tr_seqnum
0     2016-12-08 09:30:00.063974    IBM  Z   100  164.87       2415
1     2016-12-08 09:30:00.064521    IBM  T   100  164.87       2416
2     2016-12-08 09:30:00.186154    IBM  P   100  164.87       2502
3     2016-12-08 09:30:00.186178    IBM  P   100  164.87       2503
4     2016-12-08 09:30:02.650982    IBM  Z    10  164.87       3326
...                          ...    ... ..   ...     ...        ...
26633 2016-12-08 15:59:59.248782    IBM  Y    15  165.37    1862161
26634 2016-12-08 15:59:59.249623    IBM  Y     5  165.37    1862165
26635 2016-12-08 15:59:59.769935    IBM  N    34  165.37    1862587
26636 2016-12-08 15:59:59.901661    IBM  N   600  165.37    1862637
26637 2016-12-08 15:59:59.989522    IBM  N   200  165.37    1862655

[26638 rows x 6 columns]

___

### `get_official_complete_nbbo()` ---> OfficialCompleteNBBO

In [8]:
off_nbbo_df1 = taq.get_official_complete_nbbo(date1, symbols, nbbo_df=nbbo_df1, quote_df=quote_df1)
off_nbbo_df1

,symbol,timestamp,best_bid,best_bidsizeshares,best_bidex,best_ask,best_asksizeshares,best_askex,qu_seqnum
0,IBM,2016-12-07 09:00:05.396923,159.69,300.0,P,160.20,100.0,P,426557
1,IBM,2016-12-07 09:00:05.396947,159.69,100.0,P,160.20,100.0,P,426558
2,IBM,2016-12-07 09:00:05.398795,159.71,100.0,P,160.20,100.0,P,426561
3,IBM,2016-12-07 09:00:10.397634,159.67,1300.0,P,160.20,100.0,P,426846
4,IBM,2016-12-07 09:00:10.399425,159.70,100.0,P,160.20,100.0,P,426849
...,...,...,...,...,...,...,...,...,...
49073,IBM,2016-12-07 15:59:59.124585,164.65,2400.0,N,164.69,3300.0,N,27786501
49074,IBM,2016-12-07 15:59:59.460903,164.65,2800.0,N,164.69,3300.0,N,27790342
49075,IBM,2016-12-07 15:59:59.723099,164.65,2800.0,N,164.69,4000.0,N,27792241
49076,IBM,2016-12-07 15:59:59.901947,164.65,2800.0,N,164.69,4400.0,N,27793785
49077,IBM,2016-12-07 15:59:59.980547,164.65,2800.0,N,164.69,6100.0,N,27794405

In [8]:
off_nbbo_df2 = taq.get_official_complete_nbbo(date2, symbols, nbbo_df=nbbo_df2, quote_df=quote_df2)
off_nbbo_df2

,symbol,timestamp,best_bid,best_bidsizeshares,best_bidex,best_ask,best_asksizeshares,best_askex,qu_seqnum
0,IBM,2016-12-08 09:05:38.297692,164.08,300.0,T,164.50,400.0,P,763969
1,IBM,2016-12-08 09:05:38.358708,164.08,300.0,T,164.50,100.0,P,763975
2,IBM,2016-12-08 09:05:38.628704,164.08,300.0,T,164.50,400.0,P,763996
3,IBM,2016-12-08 09:05:38.636546,164.08,300.0,T,164.50,100.0,P,763997
4,IBM,2016-12-08 09:05:38.697139,164.08,300.0,T,164.50,400.0,P,764001
...,...,...,...,...,...,...,...,...,...
37593,IBM,2016-12-08 15:59:59.902386,165.36,23700.0,N,165.37,6200.0,N,27506738
37594,IBM,2016-12-08 15:59:59.909696,165.36,23600.0,N,165.37,6200.0,N,27506807
37595,IBM,2016-12-08 15:59:59.986919,165.36,23700.0,N,165.37,6200.0,N,27507371
37596,IBM,2016-12-08 15:59:59.989484,165.36,23700.0,N,165.37,6000.0,N,27507399
37597,IBM,2016-12-08 15:59:59.998086,165.36,23800.0,N,165.37,6000.0,N,27507496

___
### `compute_spreads()` ---> QuotedSpreadsAndDepth
**`Correction in lines:`** 546, 548, 568, 569, removed the section that was related to adding a quote at the begining of interval, replacing date input with last row date, removing first checking for len(...) == 0, option to get from database

In [36]:
def compute_spreads(date=None, symbols=None, off_nbbo_df=None, start_time_spreads=None,
                    end_time_spreads=None):
    
    if off_nbbo_df is None:
            off_nbbo_df = taq.get_official_complete_nbbo(date=date, symbols=symbols)
    
    # if len(off_nbbo_df) == 0:
    #     return None
    if start_time_spreads is None:
        start_time_spreads = start_time_trades
    if end_time_spreads is None:
        end_time_spreads = end_time_trades
            
        
    # Need the quote at the beginning of the interval
    # first = off_nbbo_df[off_nbbo_df.timestamp.dt.time <=
    #                     start_time_spreads].groupby('symbol').last().reset_index()
    # if len(first) > 0:
    #     first['timestamp'] = datetime.combine(date, start_time_spreads)
    # else:
    #     first = None
        
    sel = ((off_nbbo_df.timestamp.dt.time >= start_time_spreads) &
            (off_nbbo_df.timestamp.dt.time < end_time_spreads))
    # df = pd.concat([first, off_nbbo_df[sel].copy()])
    
    df = off_nbbo_df[sel].copy()

    
    # Compute time between each quote
    df['inforce'] = df.groupby(['symbol'])['timestamp'].diff().dt.total_seconds()
    df['inforce'] = df.groupby(['symbol'])['inforce'].shift(-1)
    # The entries for last quote of the day are missing.
    sel = df.inforce.isnull()
    df.loc[sel, 'inforce'] = np.abs(
        (datetime.combine(df.timestamp.iloc[-1].date(), end_time_spreads) -
            df.loc[sel, 'timestamp']).dt.total_seconds())

    # Delete locked and crossed quotes
    sel = ((df.best_bid == df.best_ask) |
            (df.best_bid > df.best_ask))
    df = df[~sel]
    
    # Compute spread measures
    df['quoted_spread_dollar'] = df.best_ask - df.best_bid
    # Note: could use dask array da.log()
    df['quoted_spread_percent'] = np.log(df.best_ask) - np.log(df.best_bid)
    df['best_ofr_depth_dollar'] = df.best_ask * df.best_asksizeshares
    df['best_bid_depth_dollar'] = df.best_bid * df.best_bidsizeshares
    df['best_ofr_depth_share'] = df.best_asksizeshares
    df['best_bid_depth_share'] = df.best_bidsizeshares

    # Compute daily weighted averages 
    measures = ['quoted_spread_dollar', 'quoted_spread_percent',
                'best_ofr_depth_dollar', 'best_bid_depth_dollar',
                'best_ofr_depth_share', 'best_bid_depth_share']
    def compute_wspreads(x):
        out = {}
        for m in measures:
            y = x[[m, 'inforce']].dropna()
            if (y['inforce'].sum() == 0) or (y['inforce'].isnull().all()):
                out[m] = np.nan
            else:
                out[m] = np.average(y[m], weights=y['inforce'], axis=0)
        return pd.Series(out)
    
    spreads_df = df.groupby('symbol')[measures +
                                        ['inforce']].apply(compute_wspreads)
    return spreads_df

In [17]:
spreads_df1p = taq.compute_spreads(date1, off_nbbo_df1, start_time_spreads=None, end_time_spreads=None)
spreads_df1p

,quoted_spread_dollar,quoted_spread_percent,best_ofr_depth_dollar,best_bid_depth_dollar,best_ofr_depth_share,best_bid_depth_share
symbol,,,,,,
IBM,0.068446,0.000425,88172.044134,40777.942111,539.065478,251.034996

In [13]:
spreads_df2p = taq.compute_spreads(date2, off_nbbo_df2, start_time_spreads=None, end_time_spreads=None)
spreads_df2p

,quoted_spread_dollar,quoted_spread_percent,best_ofr_depth_dollar,best_bid_depth_dollar,best_ofr_depth_share,best_bid_depth_share
symbol,,,,,,
IBM,0.083429,0.000506,52889.044904,93499.843939,319.723577,564.581989

In [42]:
spreads_df1 = compute_spreads(date=None, symbols=None, off_nbbo_df=off_nbbo_df1, start_time_spreads=None, end_time_spreads=None)
spreads_df1

,quoted_spread_dollar,quoted_spread_percent,best_ofr_depth_dollar,best_bid_depth_dollar,best_ofr_depth_share,best_bid_depth_share
symbol,,,,,,
IBM,0.034944,0.000215,91575.259793,41712.50821,559.449067,256.56779

In [19]:
spreads_df2 = compute_spreads(date2, off_nbbo_df2, start_time_spreads=None, end_time_spreads=None)
spreads_df2

,quoted_spread_dollar,quoted_spread_percent,best_ofr_depth_dollar,best_bid_depth_dollar,best_ofr_depth_share,best_bid_depth_share
symbol,,,,,,
IBM,0.05233,0.000317,54672.100408,96132.579945,330.464449,580.306077

___
### `merge_trades_nbbo()` ---> BuySellIndicators

**`Correction lines:`** 620, 650, 658, 659. option to get from database

In [9]:
def merge_trades_nbbo(date=None, symbols=None, trade_df=None, off_nbbo_df=None, track_retail=None):
    if track_retail is None:
        track_retail = False

    if trade_df is None:
        trade_df = taq.get_trade_table(date=date, symbols=symbols)
    if off_nbbo_df is None:
        off_nbbo_df = taq.get_official_complete_nbbo(date=date, symbols=symbols)
    
    trade_df = trade_df.sort_values(['timestamp', 'symbol'])
    off_nbbo_df = off_nbbo_df.sort_values(['timestamp', 'symbol'])
    
    # Note: could use dask dataframe dd.merge_asof
    df = pd.merge_asof(trade_df, off_nbbo_df, on='timestamp',
                        by='symbol', allow_exact_matches=False,
                        suffixes=('','_quote'))
    
    # Note: H&J code is wrong I think, 
    # df = pd.merge_asof(trade_df, off_nbbo_df, on='timestamp',
    #            by='symbol', allow_exact_matches=False,
    #            suffixes=('','_quote'))
    
    df['midpoint'] = (df['best_bid'] + df['best_ask']) / 2
    df['lock'] = 0
    sel = (df['best_bid'] == df['best_ask'])
    df.loc[sel, 'lock'] = 1
    # sel = (df['best_bid'] == np.nan) & (df['best_ask']==np.nan)
    # df.loc[sel, 'lock'] = 1
    df['cross'] = 0
    sel = (df['best_bid'] > df['best_ask'])
    df.loc[sel, 'cross'] = 1
    
    # Trade direction (tick test)
    df = df.sort_values(['timestamp', 'symbol'])
    # Note: could use dask array da.sign
    df['dir'] = np.sign(df.groupby(['symbol'])['price'].diff())
    df.loc[df['dir'] == 0, 'dir'] = np.nan
    df['dir'] = df.groupby(['symbol'])['dir'].fillna(method='ffill')
    
    # First classification test: use tick test
    df['BuySellLR'] = df['dir']
    df['BuySellEMO'] = df['dir']
    df['BuySellCLNV'] = df['dir']
    
    # Second classification test: use specified conditions of LR, EMO and
    # CLNV.
    sel_not_lc = (df['lock'] == 0) & (df['cross'] == 0)
    
    df.loc[sel_not_lc & (df['price'] > df['midpoint']), 'BuySellLR'] = 1
    df.loc[sel_not_lc & (df['price'] < df['midpoint']), 'BuySellLR'] = -1
    
    df.loc[sel_not_lc & (df['price'] == df['best_ask']), 'BuySellEMO'] = 1
    df.loc[sel_not_lc & (df['price'] == df['best_bid']), 'BuySellEMO'] = -1
    
    df['ofr30'] = df['best_ask'] - 0.3 * (df['best_ask'] - df['best_bid'])
    df['bid30'] = df['best_bid'] + 0.3 * (df['best_ask'] - df['best_bid'])
    sel =  (df['price'] >= df['ofr30']) & (df['price'] <= df['best_ask'])
    df.loc[sel_not_lc & sel, 'BuySellCLNV'] = 1
    sel =  (df['price'] <= df['bid30']) & (df['price'] >= df['best_bid'])
    df.loc[sel_not_lc & sel, 'BuySellCLNV'] = -1
    
    for x in ['dir', 'ofr30', 'bid30']:
        del df[x]
    
    if track_retail:
        # Compute retail sign following "TRACKING RETAIL INVESTOR ACTIVITY"
        # by EKKEHART BOEHMER, CHARLES M. JONES, and XIAOYAN ZHANG
        def compute_retail_sign(s):
            out = np.full(s.shape, np.nan)
            for i in range(s.shape[0]):
                z = 100 * np.mod(s[i], 0.01)
                if ((z >= 1e-4) & (z < .4)):
                    out[i] =  -1.0
                if ((z >= 0.6) & (z < (1-1e-4))):
                    out[i] = 1.0
            return out
        sel = (df['ex'] == 'D')
        df['BuySellBJZ'] = np.nan
        df.loc[sel, 'BuySellBJZ'] = \
            compute_retail_sign(df.loc[sel,'price'].values)
        
        sel = df['BuySellBJZ'].isnull()
        for x in ['LR', 'EMO', 'CLNV']:
            df['BuySell' + x + 'notBJZ'] = np.nan
            df.loc[sel, 'BuySell' + x + 'notBJZ'] = df.loc[sel,
                                                            'BuySell' + x ]
            

    df['dollar'] = df['price'] * df['size']
    
    return df

In [30]:
trade_and_nbbo_df1p = taq.merge_trades_nbbo(trade_df1, off_nbbo_df1)
trade_and_nbbo_df1p.sort_values(['symbol', 'timestamp'])

,timestamp,symbol,ex,size,price,tr_seqnum,best_bid,best_bidsizeshares,best_bidex,best_ask,best_asksizeshares,best_askex,qu_seqnum,midpoint,lock,cross,BuySellLR,BuySellEMO,BuySellCLNV,dollar
0,2016-12-07 09:30:00.006411,IBM,P,2,160.60,2040,160.43,500.0,Z,160.60,500.0,P,511415,160.515,0,0,1.0,1.0,1.0,321.20
1,2016-12-07 09:30:00.006448,IBM,P,2,160.60,2041,160.43,500.0,Z,160.60,500.0,P,511415,160.515,0,0,1.0,1.0,1.0,321.20
2,2016-12-07 09:30:00.019109,IBM,T,75,160.60,2050,160.43,500.0,Z,160.60,500.0,P,511415,160.515,0,0,1.0,1.0,1.0,12045.00
3,2016-12-07 09:30:00.019129,IBM,T,37,160.60,2051,160.43,500.0,Z,160.60,500.0,P,511415,160.515,0,0,1.0,1.0,1.0,5942.20
4,2016-12-07 09:30:00.081717,IBM,T,112,160.60,2084,160.43,500.0,Z,160.60,500.0,P,511415,160.515,0,0,1.0,1.0,1.0,17987.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37646,2016-12-07 15:59:59.023566,IBM,N,10,164.65,2060135,164.65,2500.0,N,164.69,3200.0,N,27782790,164.670,0,0,-1.0,-1.0,-1.0,1646.50
37647,2016-12-07 15:59:59.026754,IBM,N,5,164.65,2060148,164.65,2400.0,N,164.69,3200.0,N,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25
37648,2016-12-07 15:59:59.043254,IBM,N,5,164.65,2060253,164.65,2400.0,N,164.69,3200.0,N,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25
37649,2016-12-07 15:59:59.045599,IBM,N,5,164.65,2060261,164.65,2400.0,N,164.69,3200.0,N,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25
37650,2016-12-07 15:59:59.411944,IBM,B,10,164.65,2060620,164.65,2400.0,N,164.69,3300.0,N,27786501,164.670,0,0,-1.0,-1.0,-1.0,1646.50

In [31]:
trade_and_nbbo_df2p = taq.merge_trades_nbbo(trade_df2, off_nbbo_df2)
trade_and_nbbo_df2p.sort_values(['symbol', 'timestamp'])

,timestamp,symbol,ex,size,price,tr_seqnum,best_bid,best_bidsizeshares,best_bidex,best_ask,best_asksizeshares,best_askex,qu_seqnum,midpoint,lock,cross,BuySellLR,BuySellEMO,BuySellCLNV,dollar
0,2016-12-08 09:30:00.063974,IBM,Z,100,164.87,2415,164.22,400.0,P,164.96,100.0,T,977155,164.590,0,0,1.0,NaN,NaN,16487.00
1,2016-12-08 09:30:00.064521,IBM,T,100,164.87,2416,164.22,400.0,P,164.96,100.0,T,977155,164.590,0,0,1.0,NaN,NaN,16487.00
2,2016-12-08 09:30:00.186154,IBM,P,100,164.87,2502,164.22,400.0,P,164.96,200.0,P,982410,164.590,0,0,1.0,NaN,NaN,16487.00
3,2016-12-08 09:30:00.186178,IBM,P,100,164.87,2503,164.22,400.0,P,164.96,200.0,P,982410,164.590,0,0,1.0,NaN,NaN,16487.00
4,2016-12-08 09:30:02.650982,IBM,Z,10,164.87,3326,164.23,500.0,B,164.96,300.0,T,992519,164.595,0,0,1.0,NaN,NaN,1648.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26633,2016-12-08 15:59:59.248782,IBM,Y,15,165.37,1862161,165.36,1100.0,N,165.37,6900.0,N,27498694,165.365,0,0,1.0,1.0,1.0,2480.55
26634,2016-12-08 15:59:59.249623,IBM,Y,5,165.37,1862165,165.36,1100.0,N,165.37,6900.0,N,27498694,165.365,0,0,1.0,1.0,1.0,826.85
26635,2016-12-08 15:59:59.769935,IBM,N,34,165.37,1862587,165.36,23000.0,N,165.37,6700.0,N,27505640,165.365,0,0,1.0,1.0,1.0,5622.58
26636,2016-12-08 15:59:59.901661,IBM,N,600,165.37,1862637,165.36,23600.0,N,165.37,6200.0,N,27506691,165.365,0,0,1.0,1.0,1.0,99222.00
26637,2016-12-08 15:59:59.989522,IBM,N,200,165.37,1862655,165.36,23700.0,N,165.37,6000.0,N,27507399,165.365,0,0,1.0,1.0,1.0,33074.00

In [10]:
trade_and_nbbo_df1 = merge_trades_nbbo(trade_df=trade_df1, off_nbbo_df=off_nbbo_df1)
trade_and_nbbo_df1.sort_values(['symbol', 'timestamp'])

,timestamp,symbol,ex,size,price,tr_seqnum,best_bid,best_bidsizeshares,best_bidex,best_ask,best_asksizeshares,best_askex,qu_seqnum,midpoint,lock,cross,BuySellLR,BuySellEMO,BuySellCLNV,dollar
0,2016-12-07 09:30:00.006411,IBM,P,2,160.60,2040,160.43,500.0,Z,160.60,500.0,P,511415,160.515,0,0,1.0,1.0,1.0,321.20
1,2016-12-07 09:30:00.006448,IBM,P,2,160.60,2041,160.43,500.0,Z,160.60,500.0,P,511415,160.515,0,0,1.0,1.0,1.0,321.20
2,2016-12-07 09:30:00.019109,IBM,T,75,160.60,2050,160.43,500.0,Z,160.60,500.0,P,511415,160.515,0,0,1.0,1.0,1.0,12045.00
3,2016-12-07 09:30:00.019129,IBM,T,37,160.60,2051,160.43,500.0,Z,160.60,500.0,P,511415,160.515,0,0,1.0,1.0,1.0,5942.20
4,2016-12-07 09:30:00.081717,IBM,T,112,160.60,2084,160.43,500.0,Z,160.60,500.0,P,511415,160.515,0,0,1.0,1.0,1.0,17987.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37646,2016-12-07 15:59:59.023566,IBM,N,10,164.65,2060135,164.65,2500.0,N,164.69,3200.0,N,27782790,164.670,0,0,-1.0,-1.0,-1.0,1646.50
37647,2016-12-07 15:59:59.026754,IBM,N,5,164.65,2060148,164.65,2400.0,N,164.69,3200.0,N,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25
37648,2016-12-07 15:59:59.043254,IBM,N,5,164.65,2060253,164.65,2400.0,N,164.69,3200.0,N,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25
37649,2016-12-07 15:59:59.045599,IBM,N,5,164.65,2060261,164.65,2400.0,N,164.69,3200.0,N,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25
37650,2016-12-07 15:59:59.411944,IBM,B,10,164.65,2060620,164.65,2400.0,N,164.69,3300.0,N,27786501,164.670,0,0,-1.0,-1.0,-1.0,1646.50

In [ ]:
trade_and_nbbo_df2 = merge_trades_nbbo(trade_df2, off_nbbo_df2)
trade_and_nbbo_df2.sort_values(['symbol', 'timestamp'])

,timestamp,symbol,ex,size,price,tr_seqnum,best_bid,best_bidsizeshares,best_bidex,best_ask,best_asksizeshares,best_askex,qu_seqnum,midpoint,lock,cross,BuySellLR,BuySellEMO,BuySellCLNV,dollar
0,2016-12-08 09:30:00.063974,IBM,Z,100,164.87,2415,164.22,400.0,P,164.96,100.0,T,977155,164.590,0,0,1.0,NaN,1.0,16487.00
1,2016-12-08 09:30:00.064521,IBM,T,100,164.87,2416,164.22,400.0,P,164.96,100.0,T,977155,164.590,0,0,1.0,NaN,1.0,16487.00
2,2016-12-08 09:30:00.186154,IBM,P,100,164.87,2502,164.22,400.0,P,164.96,200.0,P,982410,164.590,0,0,1.0,NaN,1.0,16487.00
3,2016-12-08 09:30:00.186178,IBM,P,100,164.87,2503,164.22,400.0,P,164.96,200.0,P,982410,164.590,0,0,1.0,NaN,1.0,16487.00
4,2016-12-08 09:30:02.650982,IBM,Z,10,164.87,3326,164.23,500.0,B,164.96,300.0,T,992519,164.595,0,0,1.0,NaN,1.0,1648.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26633,2016-12-08 15:59:59.248782,IBM,Y,15,165.37,1862161,165.36,1100.0,N,165.37,6900.0,N,27498694,165.365,0,0,1.0,1.0,1.0,2480.55
26634,2016-12-08 15:59:59.249623,IBM,Y,5,165.37,1862165,165.36,1100.0,N,165.37,6900.0,N,27498694,165.365,0,0,1.0,1.0,1.0,826.85
26635,2016-12-08 15:59:59.769935,IBM,N,34,165.37,1862587,165.36,23000.0,N,165.37,6700.0,N,27505640,165.365,0,0,1.0,1.0,1.0,5622.58
26636,2016-12-08 15:59:59.901661,IBM,N,600,165.37,1862637,165.36,23600.0,N,165.37,6200.0,N,27506691,165.365,0,0,1.0,1.0,1.0,99222.00
26637,2016-12-08 15:59:59.989522,IBM,N,200,165.37,1862655,165.36,23700.0,N,165.37,6000.0,N,27507399,165.365,0,0,1.0,1.0,1.0,33074.00

___
### `compute_effective_spreads()` ---> TSpread2
**`Correction lines:`** Two lines added, section to get directly from database

In [11]:
def compute_effective_spreads(date=None, symbols=None, trade_and_nbbo_df=None):
    if trade_and_nbbo_df is None:
        df = taq.merge_trades_nbbo(date=date, symbols=symbols)
    else:
        df = trade_and_nbbo_df.copy()
    
    sel = ((df.cross == 1) | (df.lock == 1))
    df = df[~sel]
    
    df['DollarEffectiveSpread'] = np.abs(df['price'] - df['midpoint']) * 2
    df['PercentEffectiveSpread'] = (np.abs(np.log(df['price']) - 
                                            np.log(df['midpoint'])) * 2)
    return df

In [12]:
tspread1p = taq.compute_effective_spreads(trade_and_nbbo_df1)
tspread1p.sort_values(['symbol', 'timestamp'])

,timestamp,symbol,ex,size,price,tr_seqnum,best_bid,best_bidsizeshares,best_bidex,best_ask,...,qu_seqnum,midpoint,lock,cross,BuySellLR,BuySellEMO,BuySellCLNV,dollar,DollarEffectiveSpread,PercentEffectiveSpread
0,2016-12-07 09:30:00.006411,IBM,P,2,160.60,2040,160.43,500.0,Z,160.60,...,511415,160.515,0,0,1.0,1.0,1.0,321.20,0.17,0.001059
1,2016-12-07 09:30:00.006448,IBM,P,2,160.60,2041,160.43,500.0,Z,160.60,...,511415,160.515,0,0,1.0,1.0,1.0,321.20,0.17,0.001059
2,2016-12-07 09:30:00.019109,IBM,T,75,160.60,2050,160.43,500.0,Z,160.60,...,511415,160.515,0,0,1.0,1.0,1.0,12045.00,0.17,0.001059
3,2016-12-07 09:30:00.019129,IBM,T,37,160.60,2051,160.43,500.0,Z,160.60,...,511415,160.515,0,0,1.0,1.0,1.0,5942.20,0.17,0.001059
4,2016-12-07 09:30:00.081717,IBM,T,112,160.60,2084,160.43,500.0,Z,160.60,...,511415,160.515,0,0,1.0,1.0,1.0,17987.20,0.17,0.001059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37646,2016-12-07 15:59:59.023566,IBM,N,10,164.65,2060135,164.65,2500.0,N,164.69,...,27782790,164.670,0,0,-1.0,-1.0,-1.0,1646.50,0.04,0.000243
37647,2016-12-07 15:59:59.026754,IBM,N,5,164.65,2060148,164.65,2400.0,N,164.69,...,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25,0.04,0.000243
37648,2016-12-07 15:59:59.043254,IBM,N,5,164.65,2060253,164.65,2400.0,N,164.69,...,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25,0.04,0.000243
37649,2016-12-07 15:59:59.045599,IBM,N,5,164.65,2060261,164.65,2400.0,N,164.69,...,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25,0.04,0.000243
37650,2016-12-07 15:59:59.411944,IBM,B,10,164.65,2060620,164.65,2400.0,N,164.69,...,27786501,164.670,0,0,-1.0,-1.0,-1.0,1646.50,0.04,0.000243

In [33]:
tspread2p = taq.compute_effective_spreads(trade_and_nbbo_df2)
tspread2p

,timestamp,symbol,ex,size,price,tr_seqnum,best_bid,best_bidsizeshares,best_bidex,best_ask,...,qu_seqnum,midpoint,lock,cross,BuySellLR,BuySellEMO,BuySellCLNV,dollar,DollarEffectiveSpread,PercentEffectiveSpread
0,2016-12-08 09:30:00.063974,IBM,Z,100,164.87,2415,164.22,400.0,P,164.96,...,977155,164.590,0,0,1.0,NaN,1.0,16487.00,0.56,0.003400
1,2016-12-08 09:30:00.064521,IBM,T,100,164.87,2416,164.22,400.0,P,164.96,...,977155,164.590,0,0,1.0,NaN,1.0,16487.00,0.56,0.003400
2,2016-12-08 09:30:00.186154,IBM,P,100,164.87,2502,164.22,400.0,P,164.96,...,982410,164.590,0,0,1.0,NaN,1.0,16487.00,0.56,0.003400
3,2016-12-08 09:30:00.186178,IBM,P,100,164.87,2503,164.22,400.0,P,164.96,...,982410,164.590,0,0,1.0,NaN,1.0,16487.00,0.56,0.003400
4,2016-12-08 09:30:02.650982,IBM,Z,10,164.87,3326,164.23,500.0,B,164.96,...,992519,164.595,0,0,1.0,NaN,1.0,1648.70,0.55,0.003339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26633,2016-12-08 15:59:59.248782,IBM,Y,15,165.37,1862161,165.36,1100.0,N,165.37,...,27498694,165.365,0,0,1.0,1.0,1.0,2480.55,0.01,0.000060
26634,2016-12-08 15:59:59.249623,IBM,Y,5,165.37,1862165,165.36,1100.0,N,165.37,...,27498694,165.365,0,0,1.0,1.0,1.0,826.85,0.01,0.000060
26635,2016-12-08 15:59:59.769935,IBM,N,34,165.37,1862587,165.36,23000.0,N,165.37,...,27505640,165.365,0,0,1.0,1.0,1.0,5622.58,0.01,0.000060
26636,2016-12-08 15:59:59.901661,IBM,N,600,165.37,1862637,165.36,23600.0,N,165.37,...,27506691,165.365,0,0,1.0,1.0,1.0,99222.00,0.01,0.000060
26637,2016-12-08 15:59:59.989522,IBM,N,200,165.37,1862655,165.36,23700.0,N,165.37,...,27507399,165.365,0,0,1.0,1.0,1.0,33074.00,0.01,0.000060

In [14]:
tspread1 = compute_effective_spreads(trade_and_nbbo_df=trade_and_nbbo_df1)
tspread1.sort_values(['symbol', 'timestamp'])

,timestamp,symbol,ex,size,price,tr_seqnum,best_bid,best_bidsizeshares,best_bidex,best_ask,...,qu_seqnum,midpoint,lock,cross,BuySellLR,BuySellEMO,BuySellCLNV,dollar,DollarEffectiveSpread,PercentEffectiveSpread
0,2016-12-07 09:30:00.006411,IBM,P,2,160.60,2040,160.43,500.0,Z,160.60,...,511415,160.515,0,0,1.0,1.0,1.0,321.20,0.17,0.001059
1,2016-12-07 09:30:00.006448,IBM,P,2,160.60,2041,160.43,500.0,Z,160.60,...,511415,160.515,0,0,1.0,1.0,1.0,321.20,0.17,0.001059
2,2016-12-07 09:30:00.019109,IBM,T,75,160.60,2050,160.43,500.0,Z,160.60,...,511415,160.515,0,0,1.0,1.0,1.0,12045.00,0.17,0.001059
3,2016-12-07 09:30:00.019129,IBM,T,37,160.60,2051,160.43,500.0,Z,160.60,...,511415,160.515,0,0,1.0,1.0,1.0,5942.20,0.17,0.001059
4,2016-12-07 09:30:00.081717,IBM,T,112,160.60,2084,160.43,500.0,Z,160.60,...,511415,160.515,0,0,1.0,1.0,1.0,17987.20,0.17,0.001059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37646,2016-12-07 15:59:59.023566,IBM,N,10,164.65,2060135,164.65,2500.0,N,164.69,...,27782790,164.670,0,0,-1.0,-1.0,-1.0,1646.50,0.04,0.000243
37647,2016-12-07 15:59:59.026754,IBM,N,5,164.65,2060148,164.65,2400.0,N,164.69,...,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25,0.04,0.000243
37648,2016-12-07 15:59:59.043254,IBM,N,5,164.65,2060253,164.65,2400.0,N,164.69,...,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25,0.04,0.000243
37649,2016-12-07 15:59:59.045599,IBM,N,5,164.65,2060261,164.65,2400.0,N,164.69,...,27782960,164.670,0,0,-1.0,-1.0,-1.0,823.25,0.04,0.000243
37650,2016-12-07 15:59:59.411944,IBM,B,10,164.65,2060620,164.65,2400.0,N,164.69,...,27786501,164.670,0,0,-1.0,-1.0,-1.0,1646.50,0.04,0.000243

In [37]:
tspread2 = compute_effective_spreads(trade_and_nbbo_df2)
tspread2.sort_values(['symbol', 'timestamp'])

,timestamp,symbol,ex,size,price,tr_seqnum,best_bid,best_bidsizeshares,best_bidex,best_ask,...,qu_seqnum,midpoint,lock,cross,BuySellLR,BuySellEMO,BuySellCLNV,dollar,DollarEffectiveSpread,PercentEffectiveSpread
0,2016-12-08 09:30:00.063974,IBM,Z,100,164.87,2415,164.22,400.0,P,164.96,...,977155,164.590,0,0,1.0,NaN,1.0,16487.00,0.56,0.003400
1,2016-12-08 09:30:00.064521,IBM,T,100,164.87,2416,164.22,400.0,P,164.96,...,977155,164.590,0,0,1.0,NaN,1.0,16487.00,0.56,0.003400
2,2016-12-08 09:30:00.186154,IBM,P,100,164.87,2502,164.22,400.0,P,164.96,...,982410,164.590,0,0,1.0,NaN,1.0,16487.00,0.56,0.003400
3,2016-12-08 09:30:00.186178,IBM,P,100,164.87,2503,164.22,400.0,P,164.96,...,982410,164.590,0,0,1.0,NaN,1.0,16487.00,0.56,0.003400
4,2016-12-08 09:30:02.650982,IBM,Z,10,164.87,3326,164.23,500.0,B,164.96,...,992519,164.595,0,0,1.0,NaN,1.0,1648.70,0.55,0.003339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26633,2016-12-08 15:59:59.248782,IBM,Y,15,165.37,1862161,165.36,1100.0,N,165.37,...,27498694,165.365,0,0,1.0,1.0,1.0,2480.55,0.01,0.000060
26634,2016-12-08 15:59:59.249623,IBM,Y,5,165.37,1862165,165.36,1100.0,N,165.37,...,27498694,165.365,0,0,1.0,1.0,1.0,826.85,0.01,0.000060
26635,2016-12-08 15:59:59.769935,IBM,N,34,165.37,1862587,165.36,23000.0,N,165.37,...,27505640,165.365,0,0,1.0,1.0,1.0,5622.58,0.01,0.000060
26636,2016-12-08 15:59:59.901661,IBM,N,600,165.37,1862637,165.36,23600.0,N,165.37,...,27506691,165.365,0,0,1.0,1.0,1.0,99222.00,0.01,0.000060
26637,2016-12-08 15:59:59.989522,IBM,N,200,165.37,1862655,165.36,23700.0,N,165.37,...,27507399,165.365,0,0,1.0,1.0,1.0,33074.00,0.01,0.000060

___
`compute_averages_ave_sw_dw(compute_effective_spreads())` ---> 
### EffectiveSpreads

In [16]:
df = tspread1
measures = ['DollarEffectiveSpread', 'PercentEffectiveSpread']
ave1 = taq.compute_averages_ave_sw_dw(df, measures, simple=True, dollar_weighted=True, share_weighted=True)
ave1

,DollarEffectiveSpread_Ave,DollarEffectiveSpread_DW,DollarEffectiveSpread_SW,PercentEffectiveSpread_Ave,PercentEffectiveSpread_DW,PercentEffectiveSpread_SW
symbol,,,,,,
IBM,0.021439,0.021186,0.021226,0.000132,0.00013,0.00013

In [39]:
df = tspread2
measures = ['DollarEffectiveSpread', 'PercentEffectiveSpread']
ave2 = taq.compute_averages_ave_sw_dw(df, measures, simple=True, dollar_weighted=True, share_weighted=True)
ave2

,DollarEffectiveSpread_Ave,DollarEffectiveSpread_DW,DollarEffectiveSpread_SW,PercentEffectiveSpread_Ave,PercentEffectiveSpread_DW,PercentEffectiveSpread_SW
symbol,,,,,,
IBM,0.031895,0.033048,0.033085,0.000193,0.0002,0.0002

___
### `compute_rs_and_pi()` ---> Mid1

**`Correction lines:`** 722 and two lines added, section to get directly from database

In [18]:
horizon = {'5min': timedelta(minutes=5)}
delay = list(horizon.values())[0]
suff = list(horizon.keys())[0]

In [20]:
def compute_rs_and_pi(date=None, symbols=None, trade_and_nbbo_df=None, off_nbbo_df=None,
                        delay=timedelta(minutes=5), suffix='5min', track_retail=None):
    if off_nbbo_df is None:
        off_nbbo_df = taq.get_official_complete_nbbo(date=date, symbols=symbols)
    if trade_and_nbbo_df is None:
        trade_and_nbbo_df = merge_trades_nbbo(date=date,symbols=symbols,off_nbbo_df=off_nbbo_df)
    
    if track_retail is None:
        track_retail = track_retail
    next_df = off_nbbo_df[['timestamp', 'symbol',
                            'best_bid', 'best_ask']].copy()
    next_df['midpoint'] = (next_df['best_bid'] + next_df['best_ask']) / 2
    next_df['timestamp'] = next_df['timestamp'] - delay

    trade_and_nbbo_df = trade_and_nbbo_df.sort_values(['timestamp',
                                                        'symbol'])
    next_df = next_df.sort_values(['timestamp', 'symbol'])
    # Note: could use dask dataframe dd.merge_asof
    df = pd.merge_asof(trade_and_nbbo_df, next_df, on='timestamp',
                            by='symbol', allow_exact_matches=False,
                            suffixes=('','_next'))
    
    sel = ((df.best_bid_next == df.best_ask_next) |
           (df.best_bid_next > df.best_ask_next))
    df = df[~sel]
        
    signs = ['LR', 'EMO', 'CLNV']
    if track_retail:
        signs += ['BJZ'] + [x + 'notBJZ' for x in signs]

    for sign in signs:
        df['DollarRealizedSpread_' + sign + suffix] = \
            df['BuySell' + sign] * (df['price'] - df['midpoint_next']) * 2
        df['PercentRealizedSpread_' + sign + suffix] = \
            (df['BuySell' + sign] * (np.log(df['price']) -
                                        np.log(df['midpoint_next'])) * 2)
        df['DollarPriceImpact_' + sign + suffix] = \
            (df['BuySell' + sign] * (df['midpoint_next'] -
                                        df['midpoint']) * 2)
        df['PercentPriceImpact_' + sign + suffix] = \
            (df['BuySell' + sign] * (np.log(df['midpoint_next']) -
                                        np.log(df['midpoint'])) * 2)
    
    return df

In [53]:
rs_pi_df1p = taq.compute_rs_and_pi(trade_and_nbbo_df1, off_nbbo_df1, delay, suff, track_retail=None)
rs_pi_df1p

,symbol,type,EX,size,price,TR_STOP_IND,TR_SEQNUM,TR_ID,TTE_IND,QTime,...,DollarPriceImpact_LR5min,PercentPriceImpact_LR5min,DollarRealizedSpread_EMO5min,PercentRealizedSpread_EMO5min,DollarPriceImpact_EMO5min,PercentPriceImpact_EMO5min,DollarRealizedSpread_CLNV5min,PercentRealizedSpread_CLNV5min,DollarPriceImpact_CLNV5min,PercentPriceImpact_CLNV5min
0,IBM,T,P,2.0,160.60,N,2040.0,,0,09:29:45.113607,...,0.67,0.004170,-0.50,-0.003111,0.67,0.004170,-0.50,-0.003111,0.67,0.004170
1,IBM,T,P,2.0,160.60,N,2041.0,,0,09:29:45.113607,...,0.67,0.004170,-0.50,-0.003111,0.67,0.004170,-0.50,-0.003111,0.67,0.004170
2,IBM,T,T,75.0,160.60,N,2050.0,,0,09:29:45.113607,...,0.67,0.004170,-0.50,-0.003111,0.67,0.004170,-0.50,-0.003111,0.67,0.004170
3,IBM,T,T,37.0,160.60,N,2051.0,,0,09:29:45.113607,...,0.67,0.004170,-0.50,-0.003111,0.67,0.004170,-0.50,-0.003111,0.67,0.004170
4,AAPL,T,P,28.0,109.27,,6127.0,523,0,09:29:59.993750,...,0.92,0.008406,-0.81,-0.007399,0.92,0.008406,-0.81,-0.007399,0.92,0.008406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220610,AAPL,T,P,100.0,111.03,,2361243.0,23759,1,15:59:59.967210,...,0.00,0.000000,0.03,0.000270,0.00,0.000000,0.03,0.000270,0.00,0.000000
220611,AAPL,T,Q,166.0,111.03,,2361251.0,40926,1,15:59:59.967210,...,0.00,0.000000,0.03,0.000270,0.00,0.000000,0.03,0.000270,0.00,0.000000
220612,AAPL,T,Q,385.0,111.01,,2361330.0,40927,1,15:59:59.985874,...,-0.00,-0.000000,0.01,0.000090,-0.00,-0.000000,0.01,0.000090,-0.00,-0.000000
220613,AAPL,T,Q,471.0,111.01,,2361370.0,40928,1,15:59:59.998503,...,-0.00,-0.000000,0.01,0.000090,-0.00,-0.000000,0.01,0.000090,-0.00,-0.000000
220614,AAPL,T,Q,561.0,111.01,,2361371.0,40929,1,15:59:59.998706,...,-0.00,-0.000000,0.01,0.000090,-0.00,-0.000000,0.01,0.000090,-0.00,-0.000000

In [54]:
rs_pi_df2p = taq.compute_rs_and_pi(trade_and_nbbo_df2, off_nbbo_df2, delay, suff, track_retail=None)
rs_pi_df2p

,symbol,type,EX,size,price,TR_STOP_IND,TR_SEQNUM,TR_ID,TTE_IND,QTime,...,DollarPriceImpact_LR5min,PercentPriceImpact_LR5min,DollarRealizedSpread_EMO5min,PercentRealizedSpread_EMO5min,DollarPriceImpact_EMO5min,PercentPriceImpact_EMO5min,DollarRealizedSpread_CLNV5min,PercentRealizedSpread_CLNV5min,DollarPriceImpact_CLNV5min,PercentPriceImpact_CLNV5min
0,IBM,T,Z,100.0,164.87,N,2415.0,,0,09:29:45.203566,...,0.32,0.001943,NaN,NaN,NaN,NaN,0.24,0.001456,0.32,0.001943
1,IBM,T,T,100.0,164.87,N,2416.0,,0,09:29:45.203566,...,0.32,0.001943,NaN,NaN,NaN,NaN,0.24,0.001456,0.32,0.001943
2,AAPL,T,Q,1.0,110.81,,6301.0,52,1,09:29:59.108282,...,-0.86,-0.007742,NaN,NaN,NaN,NaN,0.97,0.008735,-0.86,-0.007742
3,AAPL,T,P,1.0,110.81,,6371.0,175,1,09:29:59.108282,...,-0.86,-0.007742,NaN,NaN,NaN,NaN,0.97,0.008735,-0.86,-0.007742
4,AAPL,T,P,1.0,110.81,,6372.0,176,0,09:29:59.108282,...,-0.86,-0.007742,NaN,NaN,NaN,NaN,0.97,0.008735,-0.86,-0.007742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183587,AAPL,T,K,6800.0,112.11,,2332663.0,23414,1,15:59:59.980626,...,0.01,0.000089,-0.01,-0.000089,0.01,0.000089,-0.01,-0.000089,0.01,0.000089
183588,AAPL,T,Q,597.0,112.11,,2332693.0,33254,0,15:59:59.981084,...,-0.00,-0.000000,0.01,0.000089,-0.00,-0.000000,0.01,0.000089,-0.00,-0.000000
183589,AAPL,T,X,100.0,112.11,,2332713.0,3575,1,15:59:59.981084,...,-0.00,-0.000000,0.01,0.000089,-0.00,-0.000000,0.01,0.000089,-0.00,-0.000000
183590,AAPL,T,Q,288.0,112.11,,2332715.0,33255,1,15:59:59.985730,...,-0.00,-0.000000,0.01,0.000089,-0.00,-0.000000,0.01,0.000089,-0.00,-0.000000
183591,IBM,T,N,200.0,165.37,N,1862655.0,,1,15:59:59.989484,...,0.00,0.000000,0.01,0.000060,0.00,0.000000,0.01,0.000060,0.00,0.000000

In [21]:
rs_pi_df1 = compute_rs_and_pi(trade_and_nbbo_df=trade_and_nbbo_df1, off_nbbo_df=off_nbbo_df1)
rs_pi_df1[rs_pi_df1.symbol == 'IBM']

,timestamp,symbol,ex,size,price,tr_seqnum,best_bid,best_bidsizeshares,best_bidex,best_ask,...,DollarPriceImpact_LR5min,PercentPriceImpact_LR5min,DollarRealizedSpread_EMO5min,PercentRealizedSpread_EMO5min,DollarPriceImpact_EMO5min,PercentPriceImpact_EMO5min,DollarRealizedSpread_CLNV5min,PercentRealizedSpread_CLNV5min,DollarPriceImpact_CLNV5min,PercentPriceImpact_CLNV5min
0,2016-12-07 09:30:00.006411,IBM,P,2,160.60,2040,160.43,500.0,Z,160.60,...,0.67,0.00417,-0.50,-0.003111,0.67,0.00417,-0.50,-0.003111,0.67,0.00417
1,2016-12-07 09:30:00.006448,IBM,P,2,160.60,2041,160.43,500.0,Z,160.60,...,0.67,0.00417,-0.50,-0.003111,0.67,0.00417,-0.50,-0.003111,0.67,0.00417
2,2016-12-07 09:30:00.019109,IBM,T,75,160.60,2050,160.43,500.0,Z,160.60,...,0.67,0.00417,-0.50,-0.003111,0.67,0.00417,-0.50,-0.003111,0.67,0.00417
3,2016-12-07 09:30:00.019129,IBM,T,37,160.60,2051,160.43,500.0,Z,160.60,...,0.67,0.00417,-0.50,-0.003111,0.67,0.00417,-0.50,-0.003111,0.67,0.00417
4,2016-12-07 09:30:00.081717,IBM,T,112,160.60,2084,160.43,500.0,Z,160.60,...,0.67,0.00417,-0.50,-0.003111,0.67,0.00417,-0.50,-0.003111,0.67,0.00417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37646,2016-12-07 15:59:59.023566,IBM,N,10,164.65,2060135,164.65,2500.0,N,164.69,...,-0.00,-0.00000,0.04,0.000243,-0.00,-0.00000,0.04,0.000243,-0.00,-0.00000
37647,2016-12-07 15:59:59.026754,IBM,N,5,164.65,2060148,164.65,2400.0,N,164.69,...,-0.00,-0.00000,0.04,0.000243,-0.00,-0.00000,0.04,0.000243,-0.00,-0.00000
37648,2016-12-07 15:59:59.043254,IBM,N,5,164.65,2060253,164.65,2400.0,N,164.69,...,-0.00,-0.00000,0.04,0.000243,-0.00,-0.00000,0.04,0.000243,-0.00,-0.00000
37649,2016-12-07 15:59:59.045599,IBM,N,5,164.65,2060261,164.65,2400.0,N,164.69,...,-0.00,-0.00000,0.04,0.000243,-0.00,-0.00000,0.04,0.000243,-0.00,-0.00000
37650,2016-12-07 15:59:59.411944,IBM,B,10,164.65,2060620,164.65,2400.0,N,164.69,...,-0.00,-0.00000,0.04,0.000243,-0.00,-0.00000,0.04,0.000243,-0.00,-0.00000

In [67]:
rs_pi_df2 = compute_rs_and_pi(trade_and_nbbo_df2, off_nbbo_df2, delay, suff, track_retail=None)
rs_pi_df2[rs_pi_df2.symbol == 'IBM']

,symbol,type,EX,size,price,TR_STOP_IND,TR_SEQNUM,TR_ID,TTE_IND,QTime,...,DollarPriceImpact_LR5min,PercentPriceImpact_LR5min,DollarRealizedSpread_EMO5min,PercentRealizedSpread_EMO5min,DollarPriceImpact_EMO5min,PercentPriceImpact_EMO5min,DollarRealizedSpread_CLNV5min,PercentRealizedSpread_CLNV5min,DollarPriceImpact_CLNV5min,PercentPriceImpact_CLNV5min
0,IBM,T,Z,100.0,164.87,N,2415.0,,0,09:29:45.203566,...,0.32,0.001943,NaN,NaN,NaN,NaN,0.24,0.001456,0.32,0.001943
1,IBM,T,T,100.0,164.87,N,2416.0,,0,09:29:45.203566,...,0.32,0.001943,NaN,NaN,NaN,NaN,0.24,0.001456,0.32,0.001943
2,IBM,T,P,100.0,164.87,N,2502.0,,0,09:30:00.160685,...,0.32,0.001943,NaN,NaN,NaN,NaN,0.24,0.001456,0.32,0.001943
3,IBM,T,P,100.0,164.87,N,2503.0,,0,09:30:00.160685,...,0.32,0.001943,NaN,NaN,NaN,NaN,0.24,0.001456,0.32,0.001943
4,IBM,T,Z,10.0,164.87,N,3326.0,,0,09:30:01.931516,...,0.30,0.001822,NaN,NaN,NaN,NaN,0.25,0.001517,0.30,0.001822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26633,IBM,T,Y,15.0,165.37,N,1862161.0,,1,15:59:59.109957,...,0.00,0.000000,0.01,0.00006,0.0,0.0,0.01,0.000060,0.00,0.000000
26634,IBM,T,Y,5.0,165.37,N,1862165.0,,1,15:59:59.109957,...,0.00,0.000000,0.01,0.00006,0.0,0.0,0.01,0.000060,0.00,0.000000
26635,IBM,T,N,34.0,165.37,N,1862587.0,,1,15:59:59.769930,...,0.00,0.000000,0.01,0.00006,0.0,0.0,0.01,0.000060,0.00,0.000000
26636,IBM,T,N,600.0,165.37,N,1862637.0,,1,15:59:59.901569,...,0.00,0.000000,0.01,0.00006,0.0,0.0,0.01,0.000060,0.00,0.000000
26637,IBM,T,N,200.0,165.37,N,1862655.0,,1,15:59:59.989484,...,0.00,0.000000,0.01,0.00006,0.0,0.0,0.01,0.000060,0.00,0.000000

___
`compute_averages_ave_sw_dw(compute_rs_and_pi())` ---> 
### RealizedSpreadsandPriceImpacts

In [23]:
measures = ['DollarRealizedSpread_LR5min',
       'PercentRealizedSpread_LR5min', 'DollarPriceImpact_LR5min',
       'PercentPriceImpact_LR5min', 'DollarRealizedSpread_EMO5min',
       'PercentRealizedSpread_EMO5min', 'DollarPriceImpact_EMO5min',
       'PercentPriceImpact_EMO5min', 'DollarRealizedSpread_CLNV5min',
       'PercentRealizedSpread_CLNV5min', 'DollarPriceImpact_CLNV5min',
       'PercentPriceImpact_CLNV5min']
ave_rs_pi_df1 = taq.compute_averages_ave_sw_dw(rs_pi_df1, measures, simple=True, dollar_weighted=True, share_weighted=True)
ave_rs_pi_df1

,DollarRealizedSpread_LR5min_Ave,DollarRealizedSpread_LR5min_DW,DollarRealizedSpread_LR5min_SW,PercentRealizedSpread_LR5min_Ave,PercentRealizedSpread_LR5min_DW,PercentRealizedSpread_LR5min_SW,DollarPriceImpact_LR5min_Ave,DollarPriceImpact_LR5min_DW,DollarPriceImpact_LR5min_SW,PercentPriceImpact_LR5min_Ave,...,DollarRealizedSpread_CLNV5min_SW,PercentRealizedSpread_CLNV5min_Ave,PercentRealizedSpread_CLNV5min_DW,PercentRealizedSpread_CLNV5min_SW,DollarPriceImpact_CLNV5min_Ave,DollarPriceImpact_CLNV5min_DW,DollarPriceImpact_CLNV5min_SW,PercentPriceImpact_CLNV5min_Ave,PercentPriceImpact_CLNV5min_DW,PercentPriceImpact_CLNV5min_SW
symbol,,,,,,,,,,,,,,,,,,,,,
IBM,-0.01708,-0.018547,-0.018522,-0.000105,-0.000114,-0.000113,0.03844,0.039654,0.039669,0.000236,...,-0.024349,-0.000111,-0.000149,-0.00015,0.038344,0.04373,0.043921,0.000236,0.000269,0.00027

In [85]:
measures = ['DollarRealizedSpread_LR5min',
       'PercentRealizedSpread_LR5min', 'DollarPriceImpact_LR5min',
       'PercentPriceImpact_LR5min', 'DollarRealizedSpread_EMO5min',
       'PercentRealizedSpread_EMO5min', 'DollarPriceImpact_EMO5min',
       'PercentPriceImpact_EMO5min', 'DollarRealizedSpread_CLNV5min',
       'PercentRealizedSpread_CLNV5min', 'DollarPriceImpact_CLNV5min',
       'PercentPriceImpact_CLNV5min']
ave_rs_pi_df2 = taq.compute_averages_ave_sw_dw(rs_pi_df2, measures, simple=True, dollar_weighted=True, share_weighted=True)
ave_rs_pi_df2

,DollarRealizedSpread_LR5min_Ave,DollarRealizedSpread_LR5min_DW,DollarRealizedSpread_LR5min_SW,PercentRealizedSpread_LR5min_Ave,PercentRealizedSpread_LR5min_DW,PercentRealizedSpread_LR5min_SW,DollarPriceImpact_LR5min_Ave,DollarPriceImpact_LR5min_DW,DollarPriceImpact_LR5min_SW,PercentPriceImpact_LR5min_Ave,...,DollarRealizedSpread_CLNV5min_SW,PercentRealizedSpread_CLNV5min_Ave,PercentRealizedSpread_CLNV5min_DW,PercentRealizedSpread_CLNV5min_SW,DollarPriceImpact_CLNV5min_Ave,DollarPriceImpact_CLNV5min_DW,DollarPriceImpact_CLNV5min_SW,PercentPriceImpact_CLNV5min_Ave,PercentPriceImpact_CLNV5min_DW,PercentPriceImpact_CLNV5min_SW
symbol,,,,,,,,,,,,,,,,,,,,,
IBM,0.015311,0.02451,0.024582,0.000093,0.000149,0.000149,0.016488,0.008446,0.008411,0.0001,...,0.009554,0.000087,0.000058,0.000058,0.016171,0.018783,0.018773,0.000098,0.000114,0.000114